<section id="slider-wrapper" class="layer-slider-wrapper layer-slider-dynamic">
    <div id="layerslider" style="width:100%;">   
        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- slide background -->          
            <img src="../static/images/backgrounds/full-bg-17.jpg" class="ls-bg" style="width: 100%;"  alt="Slide background"/>
            
            <!-- Left Text -->
            <h3 class="ls-l title text-wrapped alpha strong text-uppercase text-center" style="top:35%; left:100px; padding: 30px;" data-ls="offsetxin:-250;offsetyin:0;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                Make Games. Learn code. Build the future.
            </h3>

            <p class="ls-l text-standard text-wrapped base" style="width:500px; top:58%; left:100px; padding: 30px;" data-ls="offsetxin:-250;offsetyin:-;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                We teach kids to build software through a combination of making video games and solving puzzles
            </p>
        </div>
        <!-- Slide 2 -->
        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- slide background -->
            <img src="../static/images/backgrounds/full-bg-9.jpg" class="ls-bg" style="width: 100%;" alt="Slide background"/>

            <!-- Left Text -->
            <h3 class="ls-l title text-normal" style="width:600px; top:35%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                Learn by <span class="strong-600">doing</span>!
            </h3>

            <p class="ls-l text-standard" style="width:500px; top:50%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
            Over the course of a week, campers will design and build 2D platformers, top-down games, side scrollers and physics based games. Campers will build a strong foundation of programming basics and apply them as they build a different projects each day while collaborating with friends. At the end of the week they have a portfolio of projects to show friends and family.
            </p>

            <a href="" class="btn btn-base btn-lg ls-l" style="top:60%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1500;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" target="_blank">
                Learn more
            </a>
        </div>
    </div>
</section>
