<!-- MAIN CONTENT -->
        <div class="section-title-wr">
                 <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>About us</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">About us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="slice white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <p>Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt ut amat volutpat.Ut wisi enim ad minim ipiscing elit, sed diam nonummy nibh euismod is tincidunt utilin malins noineq laore.</p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i> Nam gravida magna vitae ante dignissim</li>
                            <li><i class="fa fa-check"></i> Duis rhoncus lectus at velit hendrerit quis</li>
                            <li><i class="fa fa-check"></i> Sed fringilla tempor arcu feugiat risus</li>
                            <li><i class="fa fa-check"></i> Vivamus semper odio in nibh ultricies</li>
                        </ul>
                        <p>Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt ut amat volutpat.Ut wisi enim ad minim ipiscing elit, sed diam nonummy nibh euismod is tincidunt</p>
                    </div>
                    <div class="col-md-5">
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/22439234"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice light-gray bt bb">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Our skills</span></h3>
                        </div>
                        <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="sr-only">Web Design</span>
                            </div>
                        </div>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">PHP Development</span>
                            </div>
                        </div>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">jQuery</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Global services</span></h3>
                        </div>
                        <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <ul class="list-check">
                            <li><i class="fa fa-check"></i> Nam gravida magna vitae ante dignissim</li>
                            <li><i class="fa fa-check"></i> Duis rhoncus lectus at velit hendrerit quis</li>
                            <li><i class="fa fa-check"></i> Sed fringilla tempor arcu feugiat risus</li>
                            <li><i class="fa fa-check"></i> Vivamus semper odio in nibh ultricies</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Why choose us</span></h3>
                        </div>
                        <ul class="bullet">
                            <li>
                                <figure class="dark">1</figure>
                                <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </li>
                            <li>
                                <figure class="dark">2</figure>
                                <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </li>
                            <li>
                                <figure class="dark">3</figure>
                                <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
