{% extends "base.html" %}

{% block content %}
{% for course in courses %}
<div class="container marketing">
<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Course Name: {{ course.course_name }}</h2>
          <p class="lead">Course Price: {{format_price_dollars(course.price)}}</p>
          <p>Max Number of Students: {{ course.max_number_students}}</p>
          <p>Remaining Space: {{ course.spaces_left }}</p>
          <p>course description: {{ course.course_description }}</p>
          <p>course location: {{ course.course_location }}</p>
          <p>start date: {{ course.start_date.strftime('%b %d, %Y') }}</p>
          <p>end date: {{ course.end_date.strftime('%b %d, %Y') }}</p>
          <p>start time: {{ course.start_time.strftime('%I:%M %p') }}</p>
          <p>end time: {{ course.end_time.strftime('%I:%M %p') }}</p>
          <p>max number students: {{ course.max_number_students }}</p>
          <p>spaces left:  {{ course.spaces_left }}</p>
          {% if course.spaces_left > 0 %}
            <form action="{{ url_for('buy.buy')}}" method="POST">
             <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key={{key}}
              data-amount= {{format_price(course.price)}}
              data-name="Location: {{ course.course_location }}"
              data-label= "Register for: {{course.course_name}}"
              data-description="Start Date: {{course.start_date.strftime('%b %d, %Y')}}">
             </script>
             {% else %}
             <p>No more space</p>
             {% endif %}
            <input type="hidden" name="course_id" value="{{course.id}}" />
            </form>
          </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
          src ="../static/images/kids-computer.jpg"
          alt="Generic placeholder image">
        </div>
      </div>

</div>

{% endfor %}

{% endblock %}

