{% extends "maincontent/_maincontent.html" %}
{% block content %}
    <div class="container">
    <h1>Welcome to Flask!</h1>
    <br>
    <p>Click <a href="/logout">here</a> to logout.</p>


    <h3>Add A Post!</h3>
    <br>
    <form class="form-message" role ="form" method="post" action="/" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <p>{{ form.title(placeholder="Title") }}
        <span class="error">
        {% if form.title.errors %}
            {% for error in form.title.errors %}
                {{ error }}
            {% endfor %}
         {% endif %}
        </span>
       </p>
       <p>{{ form.description(placeholder="description") }}
        <span class="error">
        {% if form.description.errors %}
            {% for error in form.description.errors %}
                {{ error }}
            {% endfor %}
         {% endif %}
        </span>
       </p>
        <p>{{ form.image(placeholder="Upload") }}</p>


     <button class="btn btn-sm btn-success" type="submit">Post</button>

</form>


    <h3>Posts</h3>
    {% for post in posts %}
    <strong>Title:</strong> {{ post.title }}<br>
    <strong>Post:</strong> {{ post.description }}
    <strong>Author:</strong> {{ post.author.name }}
    <strong>Picture:</strong> {% if post.image_path %}
    <img src="{{ 'https://s3.amazonaws.com/' + config['AWS_BUCKET'] + '/' + post.image_path }}"/>
    {% endif %}

    <br>
    {% endfor %}
</div>
{% endblock %}